h1 {
  margin-bottom: 30px;
  color: #fff;
}

p {
  color: #fff;
  background-color: #3f3f3f;
  margin-bottom: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
